################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
PlayGround.Api/obj
PlayGround.CrossCutting/obj
PlayGround.Data/obj
PlayGround.Domain/obj
PlayGround.Service/obj
